* {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0; }

.left {
  float: left; }

.right {
  float: right; }

a {
  text-decoration: none; }

.top-menu {
  width: 100%;
  height: 30px;
  background: #414143;
  padding-top: 15px; }

.top-menu a {
  color: #c6c6c6;
  margin-right: 40px; }

.top-menu a:last-child {
  margin-right: 50px; }

header {
  width: 100%;
  height: 120px; }

header a {
  display: inline-block;
  margin-top: 50px;
  margin-right: 60px;
  float: left;
  font-weight: bold;
  color: #414143;
  font-size: 17px; }

header a:first-child {
  margin: 10px 130px 0 0; }

header a:last-child {
  margin: 0 50px 0 60px; }

.block {
  width: calc(100%-360px);
  padding: 30px 180px;
  background: #f6f5f3;
  height: 93vh; }

.block .block-switch {
  width: 476px;
  height: 254px; }

.block .block-switch span {
  font-size: 3.9em;
  color: #414143;
  font-weight: bold;
  font-family: Calibri, sans-serif; }

.block .block-switch input {
  margin: 20px 10px;
  font-size: 1.3em;
  font-weight: bold;
  color: #414143;
  font-family: Calibri, sans-serif;
  display: inline-block;
  height: 60px;
  width: 200px;
  background: #f6f5f3;
  border: 2px solid #414143;
  cursor: pointer; }

.block-radio {
  position: relative;
  margin-top: -160px;
  margin-left: 100px; }

.circle {
  background: #d35b7f;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin: 8px 8px;
  cursor: pointer; }

.circle3 {
  width: 26px;
  height: 26px;
  border: 2px solid #f6f5f3;
  border-radius: 40px; }

.circle2 {
  width: 26px;
  height: 26px;
  border: 2px solid #d35b7f;
  border-radius: 40px; }

input[type=radio] {
  width: 24px;
  height: 24px; }

.popular {
  width: calc(100%-360px);
  padding: 30px 180px;
  height: 70vh;
  padding-top: 70px;
  padding-bottom: 70px; }

.popular .popular-title {
  margin-left: 30px; }

.popular-title-category {
  font-size: 1.3em;
  font-weight: bold;
  color: #414143; }

.popular-title-product {
  font-size: 3.0em;
  font-family: Calibri, sans-serif;
  font-weight: bold;
  color: #414143; }

.popular-product {
  margin-top: 50px;
  margin-right: 19px;
  text-align: center; }

.popular-product a:last-child {
  margin-right: 0px; }

.popular-product span {
  font-weight: bold;
  font-size: 1.3em;
  color: #414143; }

.popular-product span:last-child {
  font-size: 0.9em;
  color: #7f7f81; }

.category {
  width: calc(100%-360px);
  padding: 30px 180px;
  background: #f6f5f3;
  height: 213vh; }

.category-widget {
  margin-bottom: 20px; }

.category-insta {
  background: #fff;
  width: 440px;
  height: 250px;
  padding: 40px 20px;
  position: relative; }

.category-insta-photo {
  margin-top: 50px; }

.category-insta-photo img {
  float: left;
  margin-right: 10px; }

.category-insta-photo img:last-child {
  margin-right: 0px; }

.category-insta a i {
  color: #333333;
  position: relative;
  float: right;
  top: -70px; }

.category-twitter a i {
  color: #333333;
  position: relative;
  float: right;
  top: -70px; }

.category-title {
  font-size: 1.3em;
  font-family: Calibri, sans-serif;
  font-weight: bold;
  color: #414143; }

.category-name {
  font-size: 2.7em;
  font-family: Calibri, sans-serif;
  font-weight: bold;
  color: #414143; }

.category-twitter {
  background: #fff;
  width: 440px;
  height: 250px;
  padding: 40px 20px; }

.category-text {
  font-size: 1.4em;
  font-family: Calibri, sans-serif;
  color: #414143;
  font-style: italic;
  margin: 60px 0 0 40px; }

.category-text a {
  font-size: 0.9em;
  font-family: Calibri, sans-serif;
  color: #d35b7f;
  font-style: italic; }

.category-blog {
  background: #fff;
  width: 950px;
  height: 290px;
  padding: 40px 20px;
  margin-top: 30px; }

.category-blog-text {
  width: 610px;
  height: 200px;
  background: #fff;
  margin: 50px 30px 20px 20px;
  padding-top: 30px; }

.category-blog-title p {
  margin-bottom: 30px; }

.category-blog-text p {
  font-size: 1.1em;
  font-family: Calibri, sans-serif;
  color: #c6c6c6;
  font-weight: normal;
  margin-bottom: 20px; }

.category-blog-text p:first-child {
  font-size: 2.4em;
  font-family: Calibri, sans-serif;
  color: #414143;
  font-weight: bold; }

.category-blog-text a:last-child {
  font-size: 1.1em;
  font-family: Calibri, sans-serif;
  color: #414143;
  font-weight: bold;
  margin-bottom: 20px; }

.category-blog-text a span {
  color: #c6c6c6; }

.category-blog-text a {
  font-size: 1.2em;
  font-family: Calibri, sans-serif;
  color: #d35b7f;
  font-weight: bold; }

.contaner {
  width: calc(100%-360px);
  padding: 30px 180px;
  background: #333333;
  height: 63vh; }

.contaner span {
  font-size: 3.8em;
  font-family: Calibri, sans-serif;
  color: #fff;
  font-weight: bold;
  margin-left: 300px; }

.contaner p {
  margin-bottom: 30px;
  font-size: 1.0em;
  color: #5f5f5f;
  margin-left: 300px;
  font-weight: bold;
  font-family: Calibri, sans-serif; }

.contaner input {
  height: 50px;
  border: 0px; }

.contaner input[type=text] {
  margin-left: 300px;
  width: 290px;
  padding: 0 30px; }

.contaner-maincat {
  margin-top: 240px;
  text-align: center; }

.contaner-maincat a {
  color: #5f5f5f;
  font-weight: bold;
  font-family: Calibri, sans-serif;
  font-size: 1.1em;
  margin-right: 40px; }

.contaner-maincat a i {
  float: right;
  margin-left: 30px; }

.contaner input[type=button] {
  width: 90px;
  background: #d35b7f;
  border: 0px;
  cursor: pointer;
  color: #fff;
  font-size: 1.3em; }

.bottom {
  width: calc(100%-360px);
  padding: 30px 180px;
  background: #252525;
  height: 0.1vh;
  padding-top: 10px; }

.bottom a {
  color: #5f5f5f;
  margin-right: 40px;
  font-weight: bold;
  font-size: 0.9em;
  font-family: Calibri, sans-serif; }

.bottom a:last-child {
  float: right;
  margin-right: 0px; }

.icon-twitter {
  color: #51abea; }

.icon-instagram {
  color: #fff; }

.icon-facebook {
  color: #fff; }

.demo-icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }
